
  .emulatorContainer {
    height: 480px; /* Altura fixa para o contêiner */
    /*max-width: 100%;  Limita a largura ao tamanho da tela */
    margin: 5px auto; /* Centraliza o contêiner horizontalmente e define margens verticais */
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background: #f9f9f9; /* Fundo para visualização (opcional) */
  }
  
  .emulator {
    background: #000; /* Fundo preto para o emulador */
    width: 90%; /* O emulador ocupa 90% da largura do contêiner */
    height: 90%; /* O emulador ocupa 90% da altura do contêiner */
    border-radius: 8px; /* Adiciona cantos arredondados (opcional) */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra (opcional) */
  }
  