/* components/Footer.module.css */
.footer {
  background-color: #884b4b;
  color: #fff;
  /* margin-top:3px; */
  text-align: center;
  padding: 5px 0;
  position: fixed;
  width:100%;
  font-size: 0.9rem;
  bottom:0;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
