body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    background-image: url('../public/images/bk/moldura-bkg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#game {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
