body {
    font-family: 'Roboto',Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* Estilo global */
/* Adicione no seu arquivo Globals.css ou no arquivo de estilos correspondente */

/* Estilo geral para o grid de jogos */
.gamesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas em telas grandes */
  gap: 20px;
  text-align: center;
}

/* Estilo das imagens para garantir responsividade */
.gameImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 300px; /* Limite máximo para a largura */
  margin: 0 auto;
}

/* Classe ou estilo para textos retrô */
.retro {
  font-family: 'Press Start 2P', cursive;
}

  h2 {
    text-align: center;
    color: #333;
    background-color: #fafafa;
    padding: 15px;
  }
  
  main {
    padding: 20px;
  }
   /* aumenta a area do nome do console em gamelist, telas menores que 678px */
   @media (max-width: 678px) {
    h2 {
      width:100%;
    }
    .gamesGrid {
      grid-template-columns: 1fr; /* 1 coluna em telas menores */
    }
    }
  
  